<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>Title</td>
            <td>Genre</td>
            <td>Actors</td>
            <td>Year</td>
			<td>Review</td>
			<td>Rank</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["title"]}}</td>
               <td>{{row["genre"]}}</td>
               <td>{{row["actors"]}}</td>
               <td>{{row['year']}}</td>	
			   <td>{{row['review']}}</td>
			   <td>{{row['rank']}}</td>				   
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
      
   </body>
   
   
   
   
  </html>