<html>
   <body>
      
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Student Information</h3>
        Title<br>
         <input type = "text" name = "title" /></br>
         
         Genre<br>
         <textarea name = "genre" ></textarea><br>
         
         Actors<br>
         <input type = "text" name = "actors" /><br>
         
        Year<br>
         <input type = "text" name = "year" /><br>
		  
		  Review<br>
         <input type = "text" name = "review" /><br> 
		  
		  Rank<br>
         <input type = "text" name = "rank" /><br>
		 
		 
         <input type = "submit" value = "submit" /><br>
      </form>
      
   </body>
</html>